body {
    font-family: courier;
}
h1 {
    text-align: center;
    font-size: 26px;
    color: purple;
}
section {
    display: none;
}

/* Main Section */
#main nav {
    width: 300px;
    margin: auto;
}
#main-menu {
    width: 200px;
}
#main-menu li {
    text-align: center;
    list-style: none;
    border: 1px #38B2D8 solid;
    background-color: #B6B6DB;
    margin: 5px;
}
#main-menu li.hover {
    color: white;
    background-color: #6A6A7A;
    cursor: pointer;
}
/*-----*/

/* Game Section */
#game nav {
    width: 250px;
}
#in-game-menu {
    width: 200px;
    margin: 0px;
    padding: 0px;
}
#in-game-menu li {
    text-align: left;
    list-style: none;
    border: 0px;
    /*background-color: #F0FFF0;*/
    margin: 5px;
    display: inline-block;
}
#in-game-menu li.hover {
    color: red;
    cursor: pointer;
}
#in-game-menu li.paused {
    color: orange;
}

#game .game-ui {
    width: 350px;
    margin: auto;
    display: block;
    position: relative;
}
#game .game-ui canvas {
    border: 1px solid blue;
    float: left;
    display: block;
}
#game .game-ui .score-box {
    border: 1px solid rgb(206, 138, 138);
    background-color: rgb(255, 163, 0);
    width: 50px;
    margin-left: 16px;
    float: left;
}
#game .game-ui .score-box #score {
    font-size: 36px;
    text-align: center;
    display: block;
    color: rgb(255, 255, 255);
}
#game .game-ui .game-over-box {
    border: 1px solid rgb(210, 66, 66);
    background-color: rgb(80, 65, 200);
    width: 160px;
    height: 32px;
    position: absolute;
    left: 55px;
    top: 160px;
    opacity: .8;
    display: none;
}
#game .game-ui .game-over-box span {
    position: relative;
    color: white;
    font-size: 21px;
    margin: 3px 0px 0px 14px;
    display: inline-block;
}
/*-----*/

footer {
    clear:both;
    font-size: 12px;
    text-align: center;
    position: relative;
    top:70px;
}